<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDAuzBJyWDbGN4fqtM2nUJwwPVeVCOLeL4</string>
	<key>GCM_SENDER_ID</key>
	<string>53435921168</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ascoach</string>
	<key>PROJECT_ID</key>
	<string>ascoach-e6704</string>
	<key>STORAGE_BUCKET</key>
	<string>ascoach-e6704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53435921168:ios:e4c7ae84d42c4f463beb95</string>
</dict>
</plist>